/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-search {
  display: flex;
  align-items: center;
}

.header-search input {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px #65bbe6 solid;
  outline: none;

}
.header-search input::placeholder {
  font-size: 13px;
}

.header-search input:focus {
  border: 2px #65bbe6 solid;
  box-shadow: 0 0 5px rgba(101, 187, 230, 0.5);
}

.total-search-button {
  background-color: #65bbe6;
  color: white;
  border: none;
  padding: 8px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-search-button:hover {
  background-color: #549acb;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.icon {
  margin-left: 24px;
  font-size: 20px;
  cursor: pointer;
  color: #A0A0A0;
}

.profile {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  top: 100%; 
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  border-top: rgba(160, 160, 160, 0.3) 1px solid;
}

.admin-logout-button {
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  margin: 6px 16px;
}

.profile-name {
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

