@font-face {
  font-family: "Pretendard";
  src: url("./assets/font/Pretendard/600SemiBold.otf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
}

.layout {
  /* display: flex; */
  flex-direction: column;
  min-height: 100%;
}

.layout > :first-child {
  flex: 1;
}

footer {
  font-family: "Pretendard";
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
